/* .parent-container{
    display: flex;
    flex-wrap: wrap;
} */
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./Assets/board.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.cell{
    background-image: url();
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    margin: 25px;
    height: 50px;
}
